<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <appSettings>
    <!-- AWS -->
    <add key="regionAws" value="us-west-2"/>
    <add key="usuarioAws" value="CondaiUser"/>
    <add key="accessKey" value="AKIAIB7EDHV2CPLYDT4A"/>
    <add key="secretKey" value="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"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="CondaiContacto" connectionString="metadata=res://*/Modelo.ModelContacto.csdl|res://*/Modelo.ModelContacto.ssdl|res://*/Modelo.ModelContacto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Condai;user id=CondaiUser;password=AlejAndro1-.cobd*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CondaiBase" connectionString="metadata=res://*/Modelo.ModelBase.csdl|res://*/Modelo.ModelBase.ssdl|res://*/Modelo.ModelBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Condai;user id=CondaiUser;password=AlejAndro1-.cobd*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CondaiSeguridad" connectionString="metadata=res://*/Modelo.ModelSeguridad.csdl|res://*/Modelo.ModelSeguridad.ssdl|res://*/Modelo.ModelSeguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Condai;user id=CondaiUser;password=AlejAndro1-.cobd*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="Condai.Web.Eventos.servicios.Aplicacion.Login.Login">
        <endpoint address="" behaviorConfiguration="Condai.Web.Eventos.servicios.Aplicacion.Login.LoginAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Condai.Web.Eventos.servicios.Aplicacion.Login.Login" />
      </service>
      <service name="Condai.Web.servicios.Aplicacion.MasterPage.MasterPage">
        <endpoint address="" behaviorConfiguration="Condai.Web.servicios.Aplicacion.MasterPage.MasterPageAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Condai.Web.servicios.Aplicacion.MasterPage.MasterPage" />
      </service>
      <service name="Condai.Web.servicios.Aplicacion.Seguridad.Seguridad">
        <endpoint address="" behaviorConfiguration="Condai.Web.servicios.Aplicacion.Seguridad.SeguridadAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Condai.Web.servicios.Aplicacion.Seguridad.Seguridad" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Condai.Web.Eventos.servicios.Aplicacion.Login.LoginAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Condai.Web.servicios.Aplicacion.MasterPage.MasterPageAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Condai.Web.servicios.Aplicacion.Seguridad.SeguridadAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>